body {
    text-align: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-c{
    display: flex;
    justify-content: center;
    
}
.red{
background-color: rgb(211, 58, 58);
}
.green{
    background-color: rgb(77, 241, 77);
}
.yellow{
    background-color: rgb(237, 237, 53);
}
.blue{
    background-color: rgb(82, 82, 243);
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
.redbg{
    background-color: red;
}